@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
}

html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
}

body {
    font-family: 'Raleway', sans-serif;
}

.title {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}

.title h3 {
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.title h1 {
    font-size: 2rem;
}

.city {
    color: white;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.city h2 {
    text-shadow: 0px 0px 56px #000;
}

.astana {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(./img/astana.jpeg);
    background-attachment: fixed;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info {
    width: 70%;
    margin: 0 auto;
    padding: 100px;
    font-size: 1.5rem;
    font-weight: 500;
    min-height: 100vh;
}

.info::first-letter {
    font-weight: 700;
    font-size: 5rem;
    float: left;
    line-height: 0.6;
    margin-right: 5px;
}

.info_astana::first-letter {
    color: #2a9d8f;
}

.info_almaty::first-letter {
    color: #f4a261;
}

.info_shymkent::first-letter {
    color: #606c38;
}

.info hr {
    margin: 50px auto;
    width: 50%;
}

.almaty {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(./img/almaty.jpeg);
    background-attachment: fixed;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.shymkent {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(./img/shymkent.jpeg);
    background-attachment: fixed;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title_black {
    background-color: #000;
    height: 100vh;
    color: #fff;
}

.title_black .title {
    height: 100%;
}

.title_black h1 {

    font-size: 3rem;
}